<%= for category <- @category do %>
  <div>
    <.link navigate={~p"/druglists/#{category.id}"}>
      <%= category.name %>
    </.link>
  </div>
<% end %>

<.back navigate={~p"/tops"}>トップへ戻る</.back>
